<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/listings"><i class="fa-brands fa-instagram"></i></a>
            <a href="/listings"><i class="fa-brands fa-facebook"></i></a>
            <a href="/listings"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
            &copy; WanderNest. All Rights Reserved.
        </div>
        <div class="f-info-links">
            <a href="/html/privacy.html">Privacy</a>
            <a href="/html/terms.html">Terms</a>
        </div>
    </div>
</footer>