<% layout("/layout/boilerplate") %>

<body>
    <form action="/listings/new" method="post" class="row g-3 needs-validation" autocomplete="on" novalidate >
            <h3>Create New List</h3>
            <div class="col-12">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title"  name="title" placeholder="Enter a catchy Title" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-12">
              <label for="desc" class="form-label">Description</label>
              <textarea name="description" minlength="15" maxlength="100" id="desc" class="form-control auto-resize textarea-wrapper autoResizeTextarea" placeholder="Enter Description" required></textarea>
              <div class="invalid-feedback">
                Please Enter minimum of 15 characters
              </div>
            </div>
            <div class="col-md-6">
              <label for="img" class="form-label">Image link</label>
              <input type="text" class="form-control" id="img" placeholder="https://unsplash.com/images/....." name="image">
              <div class="valid-feedback">
                
              </div>
            </div>
            <div class="col-md-6">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" placeholder="&#8377; 1,200" name="price" required>
              <div class="invalid-feedback">
                Please Enter a valid Price
              </div>
            </div>
            <div class="col-md-6">
              <label for="country" class="form-label">Country</label>
              <input type="text" class="form-control" id="country" name="country" placeholder="India" required>
              <div class="invalid-feedback">
                Please Enter a valid country
              </div>
            </div>
            <div class="col-md-6">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Ahmedabad, Gujarat" required>
                <div class="invalid-feedback">
                  Please Enter a valid Location
                </div>
              </div>
            
            <br><br>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          






        <!-- <h1>Create New List</h1>
        <label for="title">Title : </label><input type="text" name="title" id="title"><br /><br />
        <label for="description">Description : </label><textarea name="description" id="description"></textarea><br /><br />
        <label for="image">Image Url : </label><input type="url" name="image" id="image"><br /><br />
        <label for="price">Price : </label><input type="number" name="price" id="price"><br /><br />
        <label for="country">Country : </label><input type="text" name="country" id="country"><br /><br />
        <label for="location">Location : </label><input type="text" name="location" id="location"><br /><br />
        <input type="submit" value="Create"> -->
    </form>
</body>


