.filter {
    text-align: center;
    opacity: 0.7;
}

i {
    font-size: 1.25rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left:3rem;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black
}

.switch {
    border: 1px solid;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    height: 3rem;
    padding-left: 3rem;
    padding-right: 2rem;
    gap: 5px;
    margin-left: 2rem;
}

.heading{
    text-align: center;
    display: none;
    color:#ff385c
}

@media (max-width:768px) {
    .filter-items{
        display: none;
    }
    
}

@media (max-width:767px) {
    .heading{
        display: block;
        margin-bottom: 1rem;
    }
}

@media (max-width :1024px)and (min-width:769px) {
    .filter-items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3.4rem;
    }

    .search-form{
        width:80%;
    }
    .call-to-action{
        width: 30%;
        font-size: 0.95rem;
    }
}