<% layout("/layout/boilerplate") %>

<body>
    <form action="/user/login" method="post" class="row g-3 needs-validation" autocomplete="on" novalidate >
        <h3>Login for WanderNest</h3>
        <div class="col-12">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username"  name="username" placeholder="Enter a valid username" required>
          <div class="invalid-feedback">
            Username is required
          </div>
        </div>
        
        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" id="password" class="form-control" required>
          <div class="invalid-feedback">
            Password field is required
          </div>
        </div>
        <br><br>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>
</body>